.roomlist {
  float: left;
  width: 400px;
  height: 100vh;
  background-color: #dee0e2;
}

.sidebar-list {
  color: #95979b;
  padding-top: 20px;
}

.rooms {
  list-style: none;
  font-size: 1.5em;
  padding-bottom: 2em;
  cursor: pointer;
}

.title {
  font-size: 2.5em;
  padding-left: 25px;
}

.new-room {
  float: right;
  transform: translateY(-75px);
  margin-right: 45px;
  background: none;
  cursor: pointer;
  outline: none;
  padding: .7em 1.7em .7em 1.7em;
  background-color: #eff1f4;
  border: none;
  text-shadow: none;
  color: #95979b;
  border-radius: 5px;
}

.displayed {

}

.hidden {
  display: none;
}
