.roomlist {
  float: left;
  width: 400px;
  height: 100vh;
  background-color: #dee0e2;
}

.sidebar-list {
  color: #95979b;
  padding-top: 20px;
}

.rooms {
  list-style: none;
  font-size: 1.5em;
  padding-bottom: 20px;
}

.title {
  font-size: 2.5em;
  padding-left: 25px;
}
